cvxopt
numpy
Quandl
scikit-learn
scipy
pandas
matplotlib
cairo
cffi
cryptography
cvxopt
cycler
dbus
expat
fontconfig
freetype
glib
gst-plugins-base
gstreamer
icu
idna
inflection
ipaddress
jpeg
libffi
libgcc
libgfortran
libpng
libxcb
libxml2
more-itertools
ndg-httpsclient
pixman
pyasn1
pycairo
pycparser
pyopenssl
pyparsing
pyqt
python-dateutil
pytz
qt
sip
six
